@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-weight: bolder; */
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2024/08/26/14/33/ai-generated-8999631_1280.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  min-height: 100vh !important;
  color: #fff !important;
  overflow-x: hidden !important;
}


.p-2 {
  height: auto;
  padding: 0.5rem;
  width: 10%;
}

.moshpit {
  margin-top: 8%;
  background-color: rgba(27, 1, 17, 0);
  border-radius: 17px;
  backdrop-filter: blur(5px);
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(129, 236, 174, 0.6);
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / 0%);
}

.moshpit input,
.moshpit select {
  margin-top: 10px;
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.22);
  border: 2px solid #38363654;
  border-radius: 5px;
  width: calc(100% - 24px);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.moshpit input:hover,
.moshpit input:focus,
.moshpit select:hover,
.moshpit select:focus {
  background: #505050;
  color: #ffffff;
}

.moshpit button {
  margin-top: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.22);
  border: 2px solid #38363654;
  border-radius: 5px;
  color: #e1e1e1;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.moshpit button:hover {
  background: #629677;
}

.moshpit button:focus {
  box-shadow: 0px 0px 0px 2px rgba(103, 110, 103, 0.71);
  background: #629677;
}

::placeholder {
  color: #e5e5e5;
}

@media (max-width: 1024px) {
  body {
    background-attachment: scroll !important;
  }
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / 11%);
}

/* At the end of styles.css */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
}
  
@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}
